<!DOCTYPE html>
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        //- 동작은 안하겠지만 이론적으로 적음
        link(rel="stylesheet", href="css/style.css")
        title 짠~~
    body
        block content

        include ../partials/footer

        //- 이론적으로는 여기에 js 파일을 가져와야함
        script(src="js/main.js")